<div class="col-md-12">
  <div class="row">
    <div class="col-md-12">
      <ul class="timeline timeline-simple">
        <li class="timeline-inverted">
          <div class="timeline-badge danger">
            <i class="material-icons">card_travel</i>
          </div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <span class="label label-danger">Father Name</span>
            </div>
            <div class="timeline-body">
              <p><%= @student.father_name %></p>
            </div>
          </div>
        </li>
        <li class="timeline-inverted">
          <div class="timeline-badge info">
            <i class="material-icons">fingerprint</i>
          </div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <span class="label label-info">Date of Birth</span>
            </div>
            <div class="timeline-body">
              <p><%= @student.dob %></p>
            </div>
          </div>
        </li>
        <li class="timeline-inverted">
          <div class="timeline-badge info">
            <i class="material-icons">person</i>
          </div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <span class="label label-info">Mobile</span>
            </div>
            <div class="timeline-body">
              <p><%= @student.mobile %></p>
            </div>
          </div>
        </li>

      </ul>
    </div>
  </div>
</div>