<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <h4 class="card-title"><%= @section.section_full_name %></h4>
      </div>
      <div class="card-content">
        <ul class="nav nav-pills nav-pills-rose">
          <li class="active">
            <a href="#pill1" data-toggle="tab">Students</a>
          </li>
          <li>
            <a href="#pill2" data-toggle="tab">Time Table</a>
          </li>
          <li>
            <a href="#pill3" data-toggle="tab">Options</a>
          </li>
        </ul>
        <div class="tab-content">
          <div class="tab-pane active" id="pill1">
            <%= render(
              partial: 'sections/students',
              locals: { students: @students }
              ) %>
            </div>
            <div class="tab-pane" id="pill2">
              <%= render(
                partial: 'sections/time_table',
                locals: { periods: @periods }
                )%>
              </div>
              <div class="tab-pane" id="pill3">

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>