<div class="row tile_count">
  <div class="col-md-4 col-sm-6 col-xs-8 tile_stats_count">
    <span class="count_top"><i class="fa fa-user"></i> High Section Teachers</span>
    <div class="count"><%=  Teacher.faculty(0) %> </div>
  </div>
  <div class="col-md-4 col-sm-6 col-xs-8 tile_stats_count">
    <span class="count_top"><i class="fa fa-user"></i> Junior Section Teachers</span>
    <div class="count"><%=  Teacher.faculty(1) %> </div>
  </div>
  <div class="col-md-4 col-sm-6 col-xs-8 tile_stats_count">
    <span class="count_top"><i class="fa fa-user"></i> Non Teaching Staffs</span>
    <div class="count"><%=  Teacher.faculty(2) %> </div>
  </div>
</div>

